
<h2> Add a new comment</h2>

    <form action= "{% url "Blog:postcomment" 5 %}" method= "post">
        {% csrf_token %}
        <p>
        {% comment %} {{new_comment.name.label_tag}}
        {{new_comment.name}}
        {{new_comment.errors}} {% endcomment %}
        {{new_comment}}
        </P>
        {% comment %} <input type="text" name="name">
        <input type="email" name="email">
        <textarea name="body"></textarea>  {% endcomment %}
        {% comment %} <pre>{{ new_comment }}</pre> {% endcomment %}


        <p><button type ="submit" class= "btn btn-primary shadow-lg btn-sm" >Add comment</p>
    </form>