{% extends "base.html" %}

{% block body %}
<div class="post-detail">
  <h2>{{ detail_post.title }}</h2>

  <p class="date">
    Published by {{ detail_post.author }}, on {{ detail_post.publish }}
  </p>

  <div class="post-body">
    {{ detail_post.body|linebreaks }}
  </div>

  <p>
    <a href="{% url 'Blog:postshare' detail_post.id %}">Share This Post</a>
  </p>

  {% with comments.count as total_comments %}
    <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
  {% endwith %}

  {% for a in comments %}
    <div class="comment">
      <p class="info">
        Comment {{ forloop.counter }} by {{ a.name }} - {{ a.created }}
      </p>
      <div class="comment-body">
        {{ a.body|linebreaks }}
      </div>
    </div>
  {% empty %}
    <p>There are no comments.</p>
  {% endfor %}

  {% include "include/commentform.html" %}
</div>
{% endblock body %}
