{% extends "base.html" %}

{% block body %}
<div class="post-detail">
  <h2>{{ detail_post.title }}</h2>

  <p class="date">
    Published by {{ detail_post.author }}, on {{ detail_post.publish }}
  </p>

  <div class="post-body">
    {{ detail_post.body|linebreaks }}
  </div>

  <p>
    <a href="{% url 'Blog:postshare' detail_post.id %}">Share This Post</a>
  </p>

  {% with comments.count as total_comments %}
    <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
  {% endwith %}

  {% for a in comments %}
    <div class="comment">
      <p class="info">
        Comment {{ forloop.counter }} by {{ a.name }} - {{ a.created }}
      </p>
      <div class="comment-body">
        {{ a.body|linebreaks }}
      </div>
    </div>
  {% empty %}
    <p>There are no comments.</p>
  {% endfor %}

  {% comment %} {% include "Include/commentform.html" %} {% endcomment %}

  <h2> Add a new comment</h2>
    <p><strong>DEBUG ID:</strong> {{ detail_post.id }}</p>

    <form action= "{% url 'Blog:postcomment' detail_post.id %}" method= "post">
        {% csrf_token %}
        <p>
        {% comment %} {{new_comment.name.label_tag}}
        {{new_comment.name}}
        {{new_comment.errors}} {% endcomment %}
        {% comment %} {{form.as_p}} {% endcomment %}
        <div class="left">
        {{form.name.as_field_group}}
        </div>
        </P>
        {% comment %} <input type="text" name="name">
        <input type="email" name="email">
        <textarea name="body"></textarea>  {% endcomment %}
        {% comment %} <pre>{{ new_comment }}</pre> {% endcomment %}


        <p><button type ="submit" class= "btn btn-primary shadow-lg btn-sm" >Add comment</p>
    </form>
</div>
{% endblock body %}
