asgiref==3.8.1
crispy-bootstrap5==2024.10
distlib==0.3.9
Django==5.1.2
django-crispy-forms==2.3
django-environ==0.11.2
djangorestframework==3.15.2
filelock==3.16.1
git-filter-repo==2.47.0
pillow==11.0.0
platformdirs==4.3.6
psycopg2==2.9.10
python-dotenv==1.0.1
setuptools==70.2.0
sqlparse==0.5.0
tzdata==2024.1
virtualenv==20.29.0
wheel==0.43.0
